[submodule "MWE-pymakr_MESH"]
	path = MWE-pymakr_MESH
	url = git@github.com:loicreboursiere/MWE-pymakr_MESH.git
[submodule "MWE-painlessMesh-ESP-Ruisantos"]
	path = MWE-painlessMesh-ESP-Ruisantos
	url = git@github.com:loicreboursiere/MWE-painlessMesh-ESP-Ruisantos.git
[submodule "MWE-ESP8266-APMod"]
	path = MWE-ESP8266-APMod
	url = https://github.com/loicreboursiere/MWE-ESP8266-APMod.git
[submodule "MWE-Adafruit_Feather_Huzzah_ESP32"]
	path = MWE-Adafruit_Feather_Huzzah_ESP32
	url = https://github.com/loicreboursiere/MWE-Adafruit_Feather_Huzzah_ESP32.git
[submodule "MWE-XIAO_BLE"]
	path = MWE-XIAO_BLE
	url = https://github.com/loicreboursiere/MWE-XIAO_BLE
